{% extends "base.html" %}

{% block content %}
<section class="committees container">
    <br><br>
    <h2>FDP 2025 Committees</h2>

    <div class="committee">
        <h3>Chief Patron (HITK)</h3>
        <ul>
            <li>Shri H.K. Chaudhary, Chairman, Vikram Solar Ltd. and Chairman, Board of Trustees, Kalyan Bharti Trust (KBT), Kolkata</li>
        </ul>
    </div>
    <br>

    <div class="committee">
        <h3>Patrons (HITK)</h3>
        <ul>
            <li>Shri P R Agarwala, Chairman, Board of Governors, HIT & Chairman, Rupa & Co Ltd</li>
            <li>Shri Sajjan Bhajanka, Chairman, Century Plyboards (India) Ltd</li>
            <li>Shri Probir Roy, Director, Kalyan Bharti Trust</li>
            <li>Shri P K Agarwal, Chief Executive Officer, Kalyan Bharti Trust</li>
            <li>Prof  Basab Chaudhuri, Principal, Heritage Institute of Technology</li>
        </ul>
    </div>
    <br>

    <div class="committee">
        <h3>Advisory Committee (HITK)</h3>
        <ul>
            <li>Prof. Pinaki Bhattyacharya, Emeritus Professor & Director, Research & Development, President IIC-HITK</li>
            <li>Prof. Sujit Kumar Barua, Registrar and HOD, Department of CSBC  at Heritage Institute of Technology</li>
            <li>Prof. Sandip Chatterjee, IQAC-HITK Coordinator, Joint Registrar (Academic), Associate Dean (Student Affairs) and HOD, Mathematics at Heritage Institute of Technology</li>
            <li>Prof. Nandan Kumar Jana, Convenor, IIC-HITK</li>
            <li>Mr. Arvind Srivastav, Joint Registrar at Heritage Institute of Technology</li>
            <li>Prof. (Dr.) Siuli Roy, HOD, Dept. of Information Technology at Heritage Institute of Technology</li>
        </ul>
    </div>
    <br>

    <div class="committee">
        <h3>Coordinators of the FDP</h3>
        <ul>
            <li>Prof. (Dr.) Rituparna Sinha, Dept. of Information Technology, Heritage Institute of Technology (HIT), Kolkata</li>
            <li>Prof. (Dr.) Nita Parekh, Center for Computational Natural Sciences and Bioinformatics, International Institute of Information Technology (IIIT), Hyderabad</li>
        </ul>
    </div>
    <br>


</section>
{% endblock %}