{% extends "base.html" %}

{% block content %}
<!-- <div class="hero">
    <div class="hero-content">
        <h1>Contact Us</h1>
        <h2>Faculty Development Program 2025</h2>
        <h2>Computational Genomics: Path to Precision Medicine</h2>
        <h3>March 24-28, 2025</h3>
    </div>
</div> -->
<br><br>

<section class="contact container">
    <h2>Get in Touch</h2>
    <p>If you have any questions about the Faculty Development Program (FDP) 2025, please contact us on the following email address </p>
    <br>
    <div class="contact-info">
        <h3>Dr. Rituparna Sinha </h3>
        <p>Email: <a href="mailto:rituparna.sinha@heritageit.edu">rituparna.sinha@heritageit.edu</a></p>
        <br>
        <h3>Dr. Nita Parekh </h3>
        <p>Email: <a href="mailto:nita@iiit.ac.in">nita@iiit.ac.in</a></p>
    </div>

</section>
{% endblock %}