{% extends "base.html" %}

{% block content %}
<br><br>

<section class="contact container">
    <h2>Get in Touch</h2>
    <p>If you have any questions about the Faculty Development Program (FDP) 2025, please contact us on the following email address </p>
    <br>
    <div class="contact-info">
        <h3>Dr. Rituparna Sinha </h3>
        <p>Email: <a href="mailto:rituparna.sinha@heritageit.edu">rituparna.sinha@heritageit.edu</a></p>
        <br>
        <h3>Dr. Nita Parekh </h3>
        <p>Email: <a href="mailto:nita@iiit.ac.in">nita@iiit.ac.in</a></p>
    </div>

</section>
{% endblock %}