{% extends "base.html" %}

{% block content %}
<!-- <div class="hero">
    <div class="hero-content">
        <h1>Program Schedule</h1>
        <h2>Faculty Development Program 2025</h2>
        <h2>Computational Genomics: Path to Precision Medicine</h2>
        <h3>March 24-28, 2025</h3>
    </div>
</div> -->

<br><br>

<section class="workshops container">
    <h2>Program Schedule</h2>
    <div class="workshop-list">
        <div class="workshop-item">
            <h3>Artificial Intelligence (AI), Application in Clinical Genomics and Diagnostics</h3>
            <p><strong>Instructor:</strong> Dr. Saurav Guha, 
                Director, Molecular Diagnostics, 
                New York Genome Center</p>
        </div>
        <br>

        <div class="workshop-item">
            <h3>Investigating the genomics and epigenomics landscape in pediatric population using novel genomic techniques.</h3>
            <p><strong>Instructor:</strong> Dr. Surajit Bhattacharya,
                Staff Scientist, Children's National Hospital,
                Washington, D.C., USA
                </p>
        </div>
        <br>

        <div class="workshop-item">
            <h3>AI methods applied to DNA-shape based analysis of genomes</h3>
            <p><strong>Instructor:</strong> Prof. (Dr.) Shandar Ahmad, 
                DBT Coordinator, 
                JNU, New Delhi                
                </p>
        </div>
        <br>

        <div class="workshop-item">
            <h3>Meta genomics and human health </h3>
            <p><strong>Instructor:</strong> Dr. Anirban Dutta, 
                Principal Scientist,
                Life Sciences R&D,    
                TCS-Research, Pune
                </p>
        </div>
        <br>

        <div class="workshop-item">
            <h3>Pharmaco-Genomics and the AI-powered Future for Personalized Treatment </h3>
            <p><strong>Instructor:</strong> Dr. Arindam Halder,
                Principal Scientist, 
                Life Sciences R&D,
                TCS-Research
                </p>
        </div>
        <br>

        <div class="workshop-item">
            <h3>Harnessing the power of OMICS in public health </h3>
            <p><strong>Instructor:</strong> Dr. Suman Paine, 
                Chief Scientific Officer, 
                PDxRL, Kolkata</p>
        </div>
        <br>

        <div class="workshop-item">
            <h3>Emerging Landscapes of NGS based Molecular Diagnostics </h3>
            <p><strong>Instructor:</strong> Dr. Sameer Phalke, Director, Director
                Laboratory Sciences, 
                Strand Life Sciences, Bangalore 
                </p>
        </div>
        <br>

        <div class="workshop-item">
            <h3>Cancer Genomics: Analyzing the Role of Genetic Variations in Tumorigenesis </h3>
            <p><strong>Instructor:</strong> Prof. (Dr.) Nita Parekh, 
                Associate Professor, 
                Center for Computational Natural Sciences and Bioinformatics, 
                IIIT Hyderabad 
                </p>
        </div>
        <br>

        <div class="workshop-item">
            <h3>Integrative bioinformatics for understanding variation in human cardiorespiratory fitness</h3>
            <p><strong>Instructor:</strong> Dr. Sujoy Ghosh,
                Professor and Director, 
                Bioinformatics and Computational Biology Pennington Biomedical Research Center, USA
                </p>
        </div>
        <br>

        <div class="workshop-item">
            <h3>Precision Medicine in India: How far have we achieved?</h3>
            <p><strong>Instructor:</strong> Dr. Maitreyee Bhattyacharya
                Professor and Director, 
                Institute of Hematology and Transfusion Medicine, 
                Medical College, Kolkata
                </p>
        </div>
        <br>
    </div>
    <a href="{{ url_for('download_file', filename='Topics.docx') }}" class="cta-button">Download Program Schedule</a>
</section>

{% endblock %}