{% extends "base.html" %}

{% block content %}
<!-- <div class="hero">
    <div class="hero-content">
        <h1>Program Schedule</h1>
        <h2>Faculty Development Program 2025</h3>
        <h2>Computational Genomics: Path to Precision Medicine</h3>
        <h2>March 24-28, 2025</h3>
    </div>
</div> -->

<br><br>

<section class="workshops container">
    <h1
        style="
          text-align: center;
        "
      >
    Program Schedule</h1>
    <br>
    <!-- Day 1 -->
    <div class="day-schedule">
        <h3 style="text-align: left;">Day 1 (March 24, 2025)</h3>
        <!-- Session 1 -->
        <div class="session-item">
            <h3>Session 1 (7:30 AM - 8:30 AM)</h3>
            <p><strong>Title of the Talk:</strong> Precision Medicine in India: How far have we achieved?</p>
            <p><strong>Instructor:</strong> 
                Dr. Maitreyee Bhattyacharya,
                Professor and Director, Institute of Hematology and Transfusion Medicine, 
                Medical College, Kolkata
            </p>
        </div>
        <br>
        <!-- Session 2 -->
        <div class="session-item">
            <h3>Session 2 (8:30 AM - 10:00 AM)</h3>
            <p><strong>Title of the Talk:</strong> Artificial Intelligence (AI), Application in Clinical Genomics and Diagnostics</p>
            <p><strong>Instructor:</strong> 
                Dr. Saurav Guha, 
                Director, Molecular Diagnostics, 
                New York Genome Center
            </p>
        </div>
    </div>
    <br>
    
    <!-- Day 2 -->
    <div class="day-schedule">
        <h3 style="text-align: left;">Day 2 (March 25, 2025)</h3>
        <!-- Session 1 -->
        <div class="session-item">
            <h3>Session 1 (7:00 AM - 8:30 AM)</h3>
            <p><strong>Title of the Talk:</strong> Investigating the genomics and epigenomics landscape in pediatric population using novel genomic techniques</p>
            <p><strong>Instructor:</strong> 
                Dr. Surajit Bhattacharya,
                Staff Scientist, Children's National Hospital, 
                Washington, D.C.
            </p>
        </div>
        <br>
        <!-- Session 2 -->
        <div class="session-item">
            <h3>Session 2 (8:30 AM - 10:00 AM)</h3>
            <p><strong>Title of the Talk:</strong> AI methods applied to DNA-shape based analysis of genomes</p>
            <p><strong>Instructor:</strong> 
                Prof. (Dr.) Shandar Ahmad,  
                DBT Coordinator, JNU, New Delhi
            </p>
        </div>
    </div>
    <br>

    <!-- Day 3 -->
    <div class="day-schedule">
        <h3 style="text-align: left;">Day 3 (March 26, 2025)</h3>
        <!-- Session 1 -->
        <div class="session-item">
            <h3>Session 1 (7:00 AM - 8:30 AM)</h3>
            <p><strong>Title of the Talk:</strong> Pharmaco-Genomics and the AI-powered Future for Personalized Treatment</p>
            <p><strong>Instructor:</strong> 
                Dr. Arindam Halder, 
                Principal Scientist, Life Sciences R&D, TCS-Research
            </p>
        </div>
        <br>
        <!-- Session 2 -->
        <div class="session-item">
            <h3>Session 2 (8:30 AM - 10:00 AM)</h3>
            <p><strong>Title of the Talk:</strong> Emerging Landscapes of NGS based Molecular Diagnostics</p>
            <p><strong>Instructor:</strong> 
                Dr. Sameer Phalke, 
                Director, Laboratory Sciences, 
                Strand Life Sciences, Bangalore
            </p>
        </div>
    </div>
    <br>

    <!-- Day 4 -->
    <div class="day-schedule">
        <h3 style="text-align: left;">Day 4 (March 27, 2025)</h3>
        <!-- Session 1 -->
        <div class="session-item">
            <h3>Session 1 (7:00 AM - 8:30 AM)</h3>
            <p><strong>Title of the Talk:</strong> Meta genomics and human health</p>
            <p><strong>Instructor:</strong> 
                Dr. Anirban Dutta, 
                Principal Scientist, Life Sciences R&D, TCS-Research, Pune
            </p>
        </div>
        <br>
        <!-- Session 2 -->
        <div class="session-item">
            <h3>Session 2 (8:30 AM - 10:00 AM)</h3>
            <p><strong>Title of the Talk:</strong> Harnessing the power of OMICS in public health</p>
            <p><strong>Instructor:</strong> 
                Dr. Suman Paine,
                Chief Scientific Officer, PDxRL, Kolkata
            </p>
        </div>
    </div>
    <br>

    <!-- Day 5 -->
    <div class="day-schedule">
        <h3 style="text-align: left;">Day 5 (March 28, 2025)</h3>
        <!-- Session 1 -->
        <div class="session-item">
            <h3>Session 1 (7:00 AM - 8:30 AM)</h3>
            <p><strong>Title of the Talk:</strong> Cancer Genomics: Analyzing the Role of Genetic Variations in Tumorigenesis</p>
            <p><strong>Instructor:</strong> 
                Prof. (Dr.) Nita Parekh, 
                Associate Professor, Center for Computational Natural Sciences and Bioinformatics, 
                IIIT Hyderabad
            </p>
        </div>
        <br>
        <!-- Session 2 -->
        <div class="session-item">
            <h3>Session 2 (8:30 AM - 10:00 AM)</h3>
            <p><strong>Title of the Talk:</strong> Integrative bioinformatics for understanding variation in human cardiorespiratory fitness</p>
            <p><strong>Instructor:</strong> 
                Dr. Sujoy Ghosh,
                Professor and Director, Bioinformatics and Computational Biology, 
                Pennington Biomedical Research Center, USA
            </p>
        </div>
    </div>
    <br>

    <a href="{{ url_for('download_file', filename='Schedule-Topics.pdf') }}" class="cta-button">
        Download Program Schedule
    </a>
</section>

{% endblock %}