{% extends "base.html" %}

{% block content %}
<!-- <div class="hero">
    <div class="hero-content">
        <h1>Registration</h1>
        <h2>Faculty Development Program 2025</h2>
        <h2>Computational Genomics: Path to Precision Medicine</h2>
        <h3>March 24-28, 2025</h3>
    </div>
</div> -->

<br><br>

<section class="registration container">
    <h2>Register for FDP 2025</h2>
    <p>Join us for the Faculty Development Program. Don't miss this opportunity to be part of a groundbreaking event in the field of genomics and bioinformatics.</p>
    <br>
    <div class="registration-options">
        <h3>Registration Fees</h3>
        <ul>
            <ul>
                <li>Faculty/Scientist: ₹1,000</li>
                <li>Research Scholars/ Post-Doctoral Scholars/Students (with Science/Engineering/Medical background): ₹500</li>
                <li>Industry Person: ₹2,000 </li>
                <li>International Applicants: $30 </li>
                <li>Applicants from HIT/IIITH: No Registration Fee </li>
            </ul>
            <p>Last date of registration:  10th March 2025</p>
        </ul>
    </div>
    <br>
    <p>To register for the FDP 2025, please fill out the registration form by clicking the button below:</p>
    <a href="https://www.theheritage.ac.in/Events/CGPPM.aspx" class="cta-button" target="_blank">Register Now</a>
    
    <br>
    <br>
    <p>If you have any issues with registration, please contact us at <a href="mailto:rituparna.sinha@heritageit.edu">rituparna.sinha@heritageit.edu</a> or <a href="mailto:nita@iiit.ac.in">nita@iiit.ac.in</a>.</p>
</section>
{% endblock %}